{%- assign showcase_collection = collections[section.settings.collection] -%}
{%- if showcase_collection == blank -%}{%- assign showcase_collection = collections.all -%}{%- endif -%}

<div class="showcase">
  {%- if section.settings.title != blank -%}
    <h2 class="title__showcase">{{ section.settings.title }}</h2>
  {%- endif -%}
  <div class="products__carrusel-app">
    {%- if showcase_collection != blank and showcase_collection.products_count > 0 -%}
      {%- for product in showcase_collection.products limit: section.settings.products_limit -%}
        {%- render 'product-card', product: product -%}
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..5) -%}
        {%- render 'product-card', product: nil, placeholder_index: i -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Vitrina de Productos",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "Más Productos"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Colección a mostrar"
    },
    {
      "type": "range",
      "id": "products_limit",
      "label": "Número de productos",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Vitrina de Productos"
    }
  ]
}
{% endschema %}
