<div class="page-content">
  <div class="page-inner">
    <h1 class="page-title">Política de Cookies</h1>

    <div class="page-body">

      <p>Este sitio web utiliza cookies propias y de terceros para ofrecerle una mejor experiencia y servicio. Al navegar o utilizar nuestros servicios el usuario acepta el uso que hacemos de las cookies. Sin embargo, el usuario tiene la opción de impedir la generación de cookies y la eliminación de las mismas mediante la selección de la correspondiente opción en su navegador. En caso de bloquear el uso de cookies en su navegador es posible que algunos servicios o funcionalidades de la página web no estén disponibles.</p>

      <h2>¿Qué es una cookie?</h2>
      <p>Una cookie es un pequeño fragmento de texto que los sitios web envían al navegador y que se almacena en el terminal del usuario, el cual puede ser un ordenador personal, un teléfono móvil, una tablet, etc. Estos archivos permiten que el sitio web recuerde información sobre su visita, como el idioma y las opciones preferidas, lo que puede facilitar su próxima visita y hacer que el sitio resulte más útil al personalizar su contenido. Las cookies desempeñan un papel muy importante, al mejorar la experiencia de uso de la web.</p>

      <h2>¿Cómo se utilizan las cookies?</h2>
      <p>Al navegar por este portal web el usuario está aceptando que se puedan instalar cookies en su terminal y que nos permiten conocer la siguiente información:</p>
      <ul>
        <li>Información estadística del uso de la web.</li>
        <li>El <em>login</em> del usuario para mantener la sesión activa en la web.</li>
        <li>El formato de la web preferente en el acceso desde dispositivos móviles.</li>
        <li>Las últimas búsquedas realizadas en los servicios de la web y datos de personalización de estos servicios.</li>
        <li>Información sobre los anuncios que se muestran al usuario.</li>
        <li>Información de las encuestas en las que ha participado el usuario.</li>
        <li>Datos de la conexión con las redes sociales para los usuarios que acceden con su usuario de Facebook o Twitter.</li>
      </ul>

      <h2>Tipos de cookies utilizadas</h2>
      <p>Este sitio web utiliza tanto cookies temporales de sesión como cookies permanentes. Las cookies de sesión almacenan datos únicamente mientras el usuario accede al sitio web y las cookies permanentes almacenan los datos en el terminal para que sean accedidos y utilizados en más de una sesión. Según la finalidad para la que se traten los datos obtenidos a través de las cookies, el sitio puede utilizar:</p>

      <h3>Cookies técnicas</h3>
      <p>Son aquéllas que permiten al usuario la navegación a través de la página web o aplicación y la utilización de las diferentes opciones o servicios que en ella existen. Por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a las partes web de acceso restringido, recordar los elementos que integran un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación y almacenar contenidos para la difusión de videos o sonido.</p>

      <h3>Cookies de personalización</h3>
      <p>Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en su terminal o que el propio usuario defina. Por ejemplo, el idioma, el tipo de navegador a través del cual accede al servicio, el diseño de contenidos seleccionado, geolocalización del terminal y la configuración regional desde donde se accede al servicio.</p>

      <h3>Cookies publicitarias</h3>
      <p>Son aquellas que permiten la gestión eficaz de los espacios publicitarios que se han incluido en la página web o aplicación desde la que se presta el servicio. Permiten adecuar el contenido de la publicidad para que esta sea relevante para el usuario y para evitar mostrar anuncios que el usuario ya haya visto.</p>

      <h3>Cookies de análisis estadístico</h3>
      <p>Son aquéllas que permiten realizar el seguimiento y análisis del comportamiento de los usuarios en los sitios web. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, con el fin de introducir mejoras en el servicio en función de los datos de uso que hacen los usuarios.</p>

      <h3>Cookies de terceros</h3>
      <p>En algunas páginas web se pueden instalar cookies de terceros que permiten gestionar y mejorar los servicios ofrecidos, como por ejemplo los servicios estadísticos de Google Analytics.</p>

      <h2>¿Cómo administrar cookies en el navegador?</h2>
      <p>El usuario tiene la opción de permitir, bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las opciones del navegador instalado en su terminal:</p>

      <h3>Google Chrome</h3>
      <ul>
        <li>Hacer clic en el menú situado en la barra de herramientas.</li>
        <li>Seleccionar <strong>Configuración</strong>.</li>
        <li>Hacer clic en <strong>Mostrar opciones avanzadas</strong>.</li>
        <li>En la sección "Privacidad" hacer clic en el botón <strong>Configuración de contenido</strong>.</li>
        <li>En la sección de "Cookies" se pueden configurar las opciones.</li>
      </ul>

      <h3>Mozilla Firefox</h3>
      <ul>
        <li>En la parte superior de la ventana de Firefox hacer clic en el menú <strong>Herramientas</strong>.</li>
        <li>Seleccionar <strong>Opciones</strong>.</li>
        <li>Seleccionar el panel <strong>Privacidad</strong>.</li>
        <li>En la opción Firefox podrá elegir <strong>Usar una configuración personalizada para el historial</strong> para configurar las opciones.</li>
      </ul>

      <h3>Internet Explorer / Microsoft Edge</h3>
      <ul>
        <li>En la parte superior de la ventana hacer clic en el menú <strong>Herramientas</strong>.</li>
        <li>Seleccionar la pestaña de <strong>Seguridad</strong> y utilizar la opción <strong>Eliminar el historial de exploración</strong> para eliminar las cookies. Activar la casilla Cookies y hacer clic en <strong>Eliminar</strong>.</li>
        <li>Para bloquear o permitir todas las cookies, en la pestaña de Seguridad utilizar <strong>Configuración</strong> y mover el control deslizante hacia arriba o hacia abajo según se desee. Hacer clic en <strong>Aceptar</strong>.</li>
      </ul>

      <p>En caso de bloquear el uso de cookies en su navegador es posible que algunos servicios o funcionalidades de la página web no estén disponibles.</p>
      <p>En algunos navegadores se pueden configurar reglas específicas para administrar cookies por sitio web, lo que ofrece un control más preciso sobre la privacidad. Esto significa que se puede inhabilitar cookies de todos los sitios salvo de aquellos en los que se confíe.</p>

    </div>
  </div>
</div>
